:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.navbar.button:after {
  display: block;
  content: "";
  border-bottom: solid 2px #3477eb;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.navbar.button:hover:after {
  transform: scaleX(0.8);
}

.formTabs {
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 0px;
  margin-bottom: 0px;
}

.formTabs.button {
  cursor: pointer;
  position: relative;
  padding: 10px 20px 10px;

  margin: -3px 1vw;

  border-color: transparent;
  border-style: solid;
  border-width: 2px 2px 0 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  transition: background-color 0.2s;
  z-index: 1;
}

.formTabs.button:not(.active):hover {
  background-color: rgb(189, 189, 189);
  border-color: #c4c4c4;
}

.formTabs.active {
  background-color: white;

  border-width: 2px 2px 0 2px;
  border-color: #c4c4c4;
}

.icon.centerTop {
  position: relative;
  top: 5px;
}

.analytics-total-link-clicks-label {
  background-color: #f5fafd;
  border: 5px solid #c8e2f9;
  border-left: 5px solid #6ca1d2;
  border-right: 5px solid #3a6c86;
  border-bottom: 5px solid #1c3945;

  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.15),
    inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  color: #3a3a3a;
}

.promo-section {
  height:50vh;

  background: rgb(21, 29, 77);
  background: linear-gradient(
    90deg,
    rgba(21, 29, 77, 1) 5%,
    rgba(7, 22, 61, 1) 52%,
    rgba(26, 36, 46, 1) 100%
  );

  color:white;
}
