:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.navbar.button:after {
  display:block;
  content: '';
  border-bottom: solid 2px #3477eb;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.navbar.button:hover:after {
  transform: scaleX(0.8);
}
